@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');


/*..................Background Image........................*/

body, html {
    height: 100%;
}

.bg { 
    background-image: url("/assets/images/monkees.jpg");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
}

.navbar-default {
    margin: 0;
}

